<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Business Frontpage - Start Bootstrap Template</title>

<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet">
<link th:href="@{/css/business-frontpage.css}" rel="stylesheet">
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" />

<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<script th:src="@{/webjars/jquery/1.9.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>

<style>
.form-horizontal .control-label {
	/* text-align:right; */
	text-align: left;
	background-color: #ffa;
}
</style>
</head>

<body>
	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container">
			<a class="navbar-brand" href="/">Hotel occupancy optimizer</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active"><a class="nav-link" href="/">Home
							<span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Info</a></li>
				</ul>
			</div>
		</div>
	</nav>



	<!-- Page Content -->

	<div class="container">

		<div class="col-sm-8">

			<!--  Information about a newly created hotel -->
			<div class="row">
				<div th:if="${created_hotel != null}" class="alert alert-success">
					<label>Created new hotel</label>
					<table class="table table-bordered">
						<tr>
							<td>Name: <span th:text="${created_hotel.hotelId}" />
							</td>
							<td>Premium rooms: <span
								th:text="${created_hotel.availablePremiumRooms}" />
							</td>
							<td>Economy rooms: <span
								th:text="${created_hotel.availableEconomyRooms}" />
							</td>
						</tr>
					</table>

				</div>
			</div>


			<!-- Create new hotel form -->
			<div class="row">
				<form action="#" method="post" class="form-horizonal"
					th:action="@{/gui/hotels}" th:object="${create_hotel_form}">
					<h2 class="mt-4">Create a hotel</h2>
					<div class="form-group">
					    
						<label for="hotelId1">Hotel ID</label> <input type="text"
							class="form-control" id="hotelId1" th:field="*{hotelId}"
							 />
							<label th:if="${#fields.hasErrors('hotelId')}" th:class="error" th:errors="*{hotelId}" class="col-lg-4 control-label" style="color:red" ></label>
					</div>
					<div class="form-group">
						<label for="premiumRooms1">Premium rooms</label> <input
							type="text" class="form-control" id="premiumRooms1"
							th:field="*{availablePremiumRooms}" />
							<label th:if="${#fields.hasErrors('availablePremiumRooms')}" th:class="error" th:errors="*{availablePremiumRooms}" class="col-lg-4 control-label" style="color:red" ></label>
					</div>
					<div class="form-group">
						<label for="economyRooms1">Economy rooms</label> <input
							type="text" class="form-control" id="economyRooms1"
							th:field="*{availableEconomyRooms}" />
						<label th:if="${#fields.hasErrors('availableEconomyRooms')}" th:class="error" th:errors="*{availableEconomyRooms}" class="col-lg-4 control-label" style="color:red" ></label>
					
					</div>
					<input type="submit" value="Submit" /> <input type="reset"
						value="Reset" />
				</form>
			</div>
			<hr>


			<!--  Information about a newly created hotel -->
			<div class="row">
				<div th:if="${query_hotel != null}" class="alert alert-success">
					<label>Hotel information:</label>
					<table class="table table-bordered">
						<tr>
							<td>Name: <span th:text="${query_hotel.hotelId}" />
							</td>
							<td>Premium rooms: <span
								th:text="${query_hotel.availablePremiumRooms}" />
							</td>
							<td>Economy rooms: <span
								th:text="${query_hotel.availableEconomyRooms}" />
							</td>
						</tr>
					</table>

				</div>
			</div>

			<!-- Viewing information about a single hotel -->
			<div class="row">
				<form action="#" class="form-horizonal"
					th:action="@{/gui/hotels/show_one}" th:object="${view_single_hotel_form}"
					method="get">
					<h2 class="mt-4">View single hotel</h2>

					<div class="form-group">
						<label for="hotelId2">Hotel ID:</label> <input type="text"
							class="form-control" id="hotelId2" th:field="*{hotelId}"
							placeholder="Hilton" />
						<label th:if="${#fields.hasErrors('hotelId')}" th:class="error" th:errors="*{hotelId}" class="col-lg-4 control-label" style="color:red" ></label>
					
					</div>

					<input type="submit" value="Submit" /> <input type="reset"
						value="Reset" />
				</form>
			</div>
			<hr>


			<!-- Occupancy calculation -->
			<div class="row">

			    <!-- Occupancy dispaly data -->
				<div th:if="${allocation_data != null}" class="alert alert-success">
				<table  class="table table-bordered">
				    <label>Optimal allocation data</label>
					<tr>
						<td>Premium occupied: <span th:text="${allocation_data.numUsedPremiumRooms}"></span></td>
						<td>Premium earnings: <span th:text="${allocation_data.premiumEarnings}"></span></td>
						<td>Economy occupied: <span th:text="${allocation_data.numUsedEconomyRooms}"></span></td>
						<td>Economy earnings: <span th:text="${allocation_data.economyEarnings}"></span></td>	
					</tr>
				</table>
				</div>

				<form action="#" class="form-horizonal"
					th:action="@{/gui/hotels/guest_allocation}"
					th:object="${occupancy_data_request_form}" method="get">
					<h2 class="mt-4">Calculate occupancy</h2>

					<div class="form-group">
						<label for="hotelId3">Hotel ID:</label> <input type="text"
							class="form-control" id="hotelId3" th:field="*{hotelId}"
							placeholder="Hilton" />
						<label th:if="${#fields.hasErrors('hotelId')}" th:class="error" th:errors="*{hotelId}" class="col-lg-4 control-label" style="color:red" ></label>
						
					</div>
					<div class="form-group">
						<label for="guestList">Guest prices:</label> <input type="text"
							class="form-control" id="guestList" th:field="*{guestDataCsv}"
							placeholder="1,100,20,5,3" />
						<label th:if="${#fields.hasErrors('guestDataCsv')}" th:class="error" th:errors="*{guestDataCsv}" class="col-lg-4 control-label" style="color:red" ></label>
					
					</div>

					<input type="submit" value="Submit" /> <input type="reset"
						value="Reset" />
				</form>
			</div>
			<hr>
		</div>


		<div class="col-sm-4">

			<!-- Delete all hotels -->
			<div class="row">
				<form action="#" th:action="@{/gui/hotels/delete_all}" method="get">
					<div class="form-group">
						<h2 class="mt-4">Delete all hotels</h2>
						<input type="submit" value="Delete" id="delete1" />
					</div>
				</form>
			</div>
			<hr />

			<!--  List of all available hotels with controls -->
			<div class="row">

				<form action="#" th:action="@{/gui/hotels}" method="get">
					<h2 class="mt-4">Hotel list</h2>
					<div class="form-group">
						<input type="submit" value="Show hotels">
						<button type="button" data-toggle="collapse"
							data-target="#hotelListTable" aria-expanded="false"
							aria-controls="hotelListTable">Hide</button>
					</div>
				</form>

				<div th:if="${hotel_list != null}" id="hotelListTable"
					class="show in" data-toggle="false">

					<table class="table table-bordered">
						<th:block th:each="hotel : ${hotel_list}">
							<tr>
								<td>Hotel: "<span th:text="${hotel.hotelId}"></span>"
								</td>
								<td>Premium rooms: <span
									th:text="${hotel.availablePremiumRooms}"></span>
								</td>
								<td>Economy rooms: <span
									th:text="${hotel.availableEconomyRooms}"></span>
								</td>
							</tr>
						</th:block>
					</table>
				</div>
			</div>
			<!--  end of second row -->

		</div>


	</div>
	<!--  end of container -->



</body>

</html>