.form-horizontal .control-label {
	/* text-align:right; */
	text-align: left;
	background-color: #ffa;
}

#grid_table {
	background-color: grey;
	border-collapse: separate;
}

#grid_table td{
    text-align:center;
    vertical-align:middle;
    position:relative; /* establish relationship with children position absolute */
	border: 1px solid black;
	height: 80px;
	width: 80px;
}


.card {
  height: 100%;
}

.coordinate_subscript {
       position: absolute;
    bottom:0; /* top: 0; */
    right:0; /* left: 0; */
    z-index: 10;
    text-align:right;
    vertical-align:bottom;
    color: #0056b3;
}
