<header th:insert="@{/header.html}" />

<!-- Page Content -->

<div class="container">

	<div class="row">
		<div class="col-sm-12" id="prompt_container" style="height: 50px">
		</div>
	</div>

	<br />
	<div class="row">
		<div class="col-sm-7">
			<h2>Script</h2>
			<form th:action="@{/}" th:object="${script}" id="script_form"
				method="post">

				<textarea autofocus id="text_area_1" name="text_area_1"
					th:field="*{text}" cols="50" rows="10" form="script_form">
						</textarea>

				<br> <input id="submit" type="button" value="Submit" /> <input
					id="reset" type="button" value="Clear" /> <input
					id="sample_script_button" type="button" value="Sample script" />

			</form>
		</div>

		<div class="col-sm-5">
			<h2>Grid</h2>
			<div id="grid_container"></div>
		</div>
	</div>
</div>


<!--  end of container -->
<footer th:insert="~{footer :: footer}" />
</body>

</html>