<html xmlns:th="http://www.thymeleaf.org">

<head>

<!--  Importing icon -->
<div th:replace="~{fragments/header::tab_icon}"></div>

<!--  Bootstrap and jQuery dependencies -->
<div th:replace="~{fragments/header::assets}"></div>

<!-- Page specific CSS -->
<link th:href="@{/css/login_page.css}" rel="stylesheet">

<title>Please Login</title>

</head>



<body>
	<div class="container">
		<div class="row">
			<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">

				<div class="card card-signin my-5" style="border: 1px solid black">

					<!--  Image with logo --->
					<img id="login_logo" th:src="@{/images/login_page_logo.jpg}" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title text-center">Welcome to the robot
							control centre</h5>


						<!--  Placeholders for server response  -->
						<!--  Login errors -->
						<div th:if="${param.error}" class="alert alert-danger">
							Invalid username and password.
							<button type="button" class="close" data-dismiss="alert"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>

						<!--  Successful logout -->
						<div th:if="${param.logout}" class="alert alert-success">
							You have been logged out.
							<button type="button" class="close" data-dismiss="alert"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>



						<!----------------  Main login form -------------------->
						<form class="form-signin" th:action="@{/login}" method="post">

							<!--  Username input -->
							<div class="form-label-group">
								<input id="username" name="username" class="form-control"
									required autofocus> <label for="username">User
									name</label>
							</div>


							<!--  Password input -->
							<div class="form-label-group">
								<input type="password" id="password" name="password"
									class="form-control" required> <label
									for="inputPassword">Password</label>
							</div>


							<!--  Submit button -->
							<button class="btn btn-lg btn-dark btn-block text-uppercase"
								type="submit">Sign in</button>

						</form>
						<!------------------------ End of main login form --------------->

					</div>
					<!--  End of card-body -->
				</div>
				<!--  End of card -->
			</div>
			<!--  End of column -->
		</div>
		<!--  End of row -->
	</div>
	<!-- End of container -->
</body>

</html>

